main > h1 {
  margin-bottom: 8rem;
}

article {
  padding: 1rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

article > .left_side {
  display: flex;
  gap: 2rem;
  width: 85%;
}
article > .left_side h2 {
  margin-bottom: 1rem;
}

article > .left_side > .description > h4.available {
  color: green;
}

article > .left_side > .description > button {
  background-color: #7e00f3;
  color: white;
  font-weight: 600;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

article > .left_side > .description > button:hover {
  background-color: #6300c0;
}
.price > h3 {
  color: black;
}

article img {
  object-fit: cover;
}

.price {
  width: 15%;
  text-align: right;
}
